{% extends 'BMIapp/base.html' %}
{% load static %}
{% block page_title %}Log In{% endblock %}
{% block page_content %}
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

       <div class="container">
            <div class="row">
                <div class="d-flex flex-column justify-content-center mr-lg-5 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-3 text-white" data-aos="fade-up">Log In</h2>
        
                    <form action="" method="post">
                        <input type="number" data-aos="fade-up" data-aos-delay="200" class="form-control" name="cf-weight" placeholder="Username">
                        <input type="password" data-aos="fade-up" data-aos-delay="200" class="form-control" name="cf-height" placeholder="Password">
                        <input class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300" type="submit" value="Log In">
                    </form>
                </div>
                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                    <div class="login-info" style="border-left: 2px solid rgb(150, 150, 150); padding-left: 3.5rem;">
                        <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Lorem Ipsum</h2>
                        <p class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    </div>
               </div>
            </div>
       </div>
</section>
{% endblock %}