{% extends 'BMIapp/base.html' %}
{% load static %}
{% block page_title %}Statistics{% endblock %}
{% block page_content %}
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

       <div class="container">
            <div class="row">
                 <div class="col-lg-8 col-md-10 mx-auto col-12">
                      <div class="hero-text mt-5 text-center">

                            <p>აქ ჩავსვათ სტატისტიკის დიაგრამები</p>
                      </div>
                 </div>

            </div>
       </div>
</section>
{% endblock %}